<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1188 Real Estate</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                 <li><a href="/get-cash-offer">Get Cash Offer</a></li>
                <li><a href="/create-user-account">Create an Account</a></li>
                <li><a>Posts</a></li>
                <li><a>Reviews</a></li>
            </ul>
        </nav>
    </header>
    <main> 
    {{{ body }}}
    </main>
    <footer>
        <div>
         <ul>
             <li><a>Privacy Policy</a></li>
             <li><a>Terms of Use</a></li>
         </ul>   
        </div>
        <div>
            <p>
             &copy; 1188RE.com
            </p>
        </div>
    </footer>
</body>
</html>