<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2908 Real Estate</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    <!--google analitics tracking tag-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-232455570-1">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-232455570-1');
</script>
    <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
</head>
<body>
    <header>
        <h1>
            <a id="header-title" href="/">2908RE</a>
        </h1>
        <div id="dropdown">
            <button id="dropdown-btn">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </button>
        <nav id="dropdown-content">
            {{#if loggedIn}} 
            <ul id="nav-list">
                <li><a href="/get-cash-offer">Get Cash Offer</a></li>
                <li><a href="/user-blog">Posts</a></li>
                <li><a href="/user-reviews">Reviews</a></li>
            </ul>
            
          <div>
                <button type="button" id="logout">logout</button>
            </div>
            
            {{else}}
            <ul id="nav-list">
                <li><a href="/get-cash-offer">Cash Offer</a></li>
                <li><a href="/create-user-account">Create Account</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/user-blog">Posts</a></li>
                <li><a href="/user-reviews">Reviews</a></li>
            </ul>
            {{/if}}
            
        </nav>
        </div>
    </header>
    <main> 
    {{{ body }}}
    </main>
    <footer>
        <div id="footer-list-div">
         <ul id="footer-list">
             <li><a>Privacy Policy</a></li>
             <li id="terms-of-use-li"><a>Terms of Use</a></li>
         </ul>   
        </div>

          

        <div id="copyright-div">
            <p>
             &copy; 2908realestate.com
            </p>
        </div>
    </footer>
</body>

<script src='/javascript/admin-nav-footer.js'></script>
</html>