<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1188 Real Estate</title>
</head>
<body>
    <header>
        <h1><a href="/">1188RE</a></h1>
        <nav>
            <ul>
                 <li><a href="/get-cash-offer">Get Cash Offer</a></li>
                <li><a href="/create-user-account">Create an Account</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/user-blog">Posts</a></li>
                <li><a>Reviews</a></li>
            </ul>
           {{#if loggedIn}} 
            <div>
                <button type="button" id="logout">logout</button>
            </div>
            {{/if}}
        </nav>
    </header>
    <main> 
    {{{ body }}}
    </main>
    <footer>
        <div>
         <ul>
             <li><a>Privacy Policy</a></li>
             <li><a>Terms of Use</a></li>
         </ul>   
        </div>
        <div>
            <p>
             &copy; 1188RE.com
            </p>
        </div>
    </footer>
</body>
{{#if loggedIn}}
<script src="/javascript/user-logout.js"></script>
{{/if}}
</html>