<form id="user-login-form">
    <div class="label-input-container">
        <label for="admin-name-login">Email</label>
        <input type="text" id="admin-name-login"/>
    </div>
    <div  class="label-input-container">
        <label for="admin-password-login">Password</label>
        <input type="password" id="admin-password-login"/>
    </div>
    <div class="btn-container">
        <button class="login-btn" type="submit">Login</button>
    </div>
</form>
<script src="/javascript/admin-login.js"></script>