<!--lead section-->
<section>
{{#if leads.length}}
{{#each leads as |lead|}}
{{> lead-info lead}}
<div>
    <a href="/admin/edit/lead/{{lead.id}}">edit lead</a>
</div>
{{/each}}
{{/if}}
</section>

<!--reviews section-->
<section>
{{#if reviews.length}}
{{#each reviews as |review|}}
{{> review-info review}}
<div>
    <a href="/admin/edit/review/{{review.id}}" >edit review</a>
</div>
{{/each}}
{{/if}}
</section>

<!--posts section-->
<section>
{{#if posts2.length}}
{{#each posts2 as |post|}}
{{> post-info post}}
<div>
    <a href="/admin/edit/post/{{post.id}}"  >edit post</a>
</div>
{{/each}}
{{/if}}
</section>





