<section>
 {{#if users.length}}
 {{#each users as |user|}}
 <div>
     <div> 
     <span>{{user.username}}</span>
     <span>{{user.state}}</span>
     <span>{{user.email}}</span>
    </div>
    <div>
        <a href="/admin/delete/{{user.id}}">Delete</a>
    </div> 
 </div>
 {{/each}}
 {{/if}}
</section>
<script src="/javascript/logout-button.js"></script>

