<!--lead section-->
<section class="admin-section">
     <h1>Leads</h1>
{{#if leads.length}}
{{#each leads as |lead|}}
{{> lead-info lead}}
{{/each}}
{{/if}}
</section>

<!--reviews section-->
<section class="admin-section">
     <h1>Reviews</h1>
{{#if reviews.length}}
{{#each reviews as |review|}}
{{> review-info review}}
{{/each}}
{{/if}}
</section>

<!--posts section-->
<section class="admin-section">
     <h1>Posts</h1>
{{#if posts2.length}}
{{#each posts2 as |post|}}
{{> post-info post}}
{{/each}}
{{/if}}
</section>



<script src="/javascript/logout-button.js"></script>
<script src="/javascript/admin-logout.js"></script>

