<!--lead section-->
<section>
{{#if leads.length}}
{{#each leads as |lead|}}
<div>{{> lead-info lead}}</div>
{{/each}}
{{/if}}
</section>

<!--reviews section-->
<section>
{{#if reviews.length}}
{{#each reviews as |review|}}
<div>{{> review-info review}}</div>
{{/each}}
{{/if}}
</section>

<!--posts section-->
<section>
{{#if posts2.length}}
{{#each posts2 as |post|}}
<div>{{> post-info post}}</div>
{{/each}}
{{/if}}
</section>


