<section class="admin-users-section">
    <h1>Public Users</h1>
 {{#if users.length}}
 {{#each users as |user|}}
 <div class="user-container">
     <div class="user-info-div"> 
     <span>{{user.username}}</span>
     <span>{{user.state}}</span>
     <span>{{user.email}}</span>
    </div>
    <div class="dlt-user-link-container">
        <a class="delete-user-link" href="/admin/delete/{{user.id}}">Delete</a>
    </div> 
 </div>
 {{/each}}
 {{/if}}
</section>
<script src="/javascript/logout-button.js"></script>

