<form id="user-login-form">
    <div>
        <label for="admin-name-login">Email</label>
        <input type="text" id="admin-name-login"/>
    </div>
    <div>
        <label for="admin-password-login">Password</label>
        <input type="password" id="admin-password-login"/>
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>
<script src="/javascript/admin-login.js"></script>