    <section class="delete-user-section">
     <div class="delete-user-info"> 
     <span>{{user.username}}</span>
     <span>{{user.state}}</span>
     <span>{{user.email}}</span>
    </div>
    <div class="delete-btn"id="user-delete-btn" >
        <button id="delete-user-btn" type="button" data-id="{{user.id}}">Delete</button>
    </div> 
 </section>
   
   
    <script src="/javascript/delete-user.js"></script>
    <script src="/javascript/logout-button.js"></script>