    <div>
     <div> 
     <span>{{user.username}}</span>
     <span>{{user.state}}</span>
     <span>{{user.email}}</span>
    </div>
    <div id="user-info" >
        <button id="delete-user-btn" type="button" data-id="{{user.id}}">Delete</button>
    </div> 
 </div>
   
   
    <script src="/javascript/delete-user.js"></script>