<section class="edit-post-lead-section">
    <form id="edit-post-form" class="edit-post-review-form">
        <div class="edit-review-post-h1-container" >
     <h1>By {{post.user.username}} From {{post.user.state}}</h1>
        </div>
         <div class="edit-review-post-label-textarea-container">
     <label for="post-text">Edit Post</label>
     <textarea id="post-text" placeholder="{{post.post_text}}" ></textarea>
        </div>
         <div>
         <button class="submit-btn" type="submit">Save</button>
         </div>
    </form>
    <div class="delete-btn-container dlte-btn-review-post-container">
<button type="click" id="delete-post-button" data-id="{{post.id}}">Delete</button>
    </div>
    </section>
    <script src="/javascript/edit-post.js"></script>
    <script src="/javascript/delete-post.js"></script>
    <script src="/javascript/logout-button.js"></script>
    