<section id="hero-section">
    <div class="container">
        <div>
            <h1>
                Cash Offers From
                <span>
                    1188 Buyers You
                    <span>Can Trust</span>
                </span>
            </h1>
             <div class="cta">
                      <h2>
                          Find out what a trusted 1188 Buyer will pay for
                          <span>your property fast with absolutely no obligation.</span>
                      </h2>

                      <div class="button-link-container"> 
                         <p><a href="/get-cash-offer" class="button-link">Get Cash Offer</a> </p>
                      </div>

                      <div>
                          <div>
                              <ul class="hero-list">
                                  <li>No Showings</li>
                                  <li>No Repairs</li>
                                  <li>No Headaches</li>
                              </ul>
                          </div>
                      </div>
             </div>
        </div>
    </div>
</section>

<section class="main-content">
    <div class="container">
        <div class="looking-to-sell-fast">

            <h2 class="primary-title">Looking To Sell Your Property Fast</h2>
            <p class="primary-subtitle">Heres how 1188 Real Estate can help</p>

            <div class="row">
                <div class="card-container">
                    <div class="card">
                        <div class="card-number">1</div>
                        <h3 class="card-title">
                            Find Out What Your
                            <span>Property Is Worth</span> 
                        </h3>
                        <p>
                            It's fast and free. Simply
                            <a>fill out the form</a>
                            and we will get you a fast, highly accurate estimate.
                        </p>
                    </div>
                </div>

                <div class="card-container">
                    <div class="card">
                        <div class="card-number">2</div>
                        <h3 class="card-title">
                          Sell Your Property
                          <span>AS Is Fast</span>  
                        </h3>
                        <p>
                            Stand by to recieve the best option for a quick cash offer and home sale soution
                            the market has to offer. Delivered directly and securely to you on or offline.
                        </p>
                    </div>
                </div>

            </div>

            

        </div>

        <div class="army-of-buyers">
                <h2 class="primary-title">We have match sellers to 1188 Buyers</h2>

              <!--============================================================================test-->
              <div class="wrapper-image">
                <div class="row2">
                    <div class="col-auto col-lg-4 usa">
                        <div class="direction-title  justify-content-end ">
                            <span class="d-block">
                                <img src="/images/USA.svg" alt="national 1188 buyers in your city" class="svg-image"/>
                            </span>
                            <span>
                                National 1188 buyers
                                <span>In Your City</span>
                            </span>
                        </div>
                    </div>

                   
                         <div class="col-auto col-lg-4 target">
                        <div class="direction-title  justify-content-end ">
                              <span class="d-block">
                                <img src="/images/house-target.svg" alt="national 1188 buyers in your city" class="svg-image"/>
                            </span>
                            <span>
                                Investors Who Buy
                                <span>direct and fast</span>
                            </span>
                        </div>
                    </div>
                    
                </div>
                
            </div>
            <div class="row3">
                    <div class="row3-span-container">
                        <span>
                            <img src="/images/house-icon.svg" alt="local 1188 buyers and investors" class="svg-image"/>
                        </span>
                        <span>Local 1188 Buyers and Investors</span>
                        
                    </div>
                </div>
              <!--================================================================================-->
            </div>
    </div>
</section>

<section class="selling-property-made-simple">
    <div class="container">
       <h2>Selling Your Property Made Simple</h2> 
       <p>
           1188 Buyers, or instant buyers, are real estate buyers that use online home value assessment tools 
           to determine what your house is worth, and then make you an instant cash offer.
       </p>

       <div class="row">

           <div>
               <p><img></p>
               <h3>Accurate 1188 Valuation Data</h3>
               <p>
                   Big data from local and national real estate markets along with your real time property video
                   make it easy to get the best home valuation and cash offer available in the market today.
               </p>
           </div>

           <div>
               <p><img></p>
               <h3>Save Tons Of Time. Sell your Property As Is </h3>
               <p>
                   We know how stresful upgrades,repairs,and cleaning can be, not to mention finding an honest and experienced agent.
                   Don't worry with 1188 you won't need to bother yourself with any of that.
               </p>
           </div>

           <div>
               <p><img></p>
               <h3>Transparent, Upfront Costs</h3>
               <p>
                   1188 buyers quote all costs upfront,so you know exactly
                   what costs are involved before you decide to sell your property.
               </p>
           </div>

       </div>

       <div class="button-link-container"> 
         <p><a href="/get-cash-offer" class="button-link">Get Cash Offer</a> </p>
        </div>

    </div>
</section>

<section>
    <div class="container">
        <h2>Discover What Selling To An 1188 Buyer Can Do For You</h2>
        <p>
            Compare traditional real estate sales to 1188 sales and see why 1188 buyers enable you to sell you home faster.
        </p>
        <div class="row">
            <div>
                <div class="card">
                    <h3>Traditional Property Sale</h3>
                        <ul>
                            <li>Wait days (sometimes months) for offers from potential buyers.</li>
                            <li>Interview multiple agents until you find an experienced one.</li>
                            <li>Handle all necessary repairs and upgrades.</li>
                            <li>Keep your house clean and staged for selling.</li>
                            <li>Accommodate frequent showings and open houses.</li>
                            <li>Hope that loan-based offers don’t fall through.</li>
                            <li>Wait on paperwork. Closing dates might affect your plans.</li>
                        </ul>
                </div>
            </div>
            <div>
                <div class="card">
                    <h3>1188realestate.com sale</h3>
                        <ul>
                            <li>Receive an <a href="/get-cash-offer">FAST offer for your house</a> from 1188 Buyers.</li>
                            <li>Request 1188 Buyer offers in one click.</li>
                            <li>No stress over repairs or upgrades.</li>
                            <li>No need to clean or stage your house.</li>
                            <li>No need for any showings or open houses.</li>
                            <li>Get <a href="/get-cash-offer">cash for your house</a> as is. No loan issues.</li>
                            <li>Move on your terms. Closing dates are fast and flexible.</li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</section>