<form id="lead-submit-form" action="/get-cash-offer" method="post" enctype="multipart/form-data">
<div> 
  <label for="first-name" name="first_name"></label>
  <input type="text" name="first_name" />
 </div> 
<div> 
  <label for="last-name" name="last_name"></label>
  <input type="text" name="last_name" />
 </div> 
<div> 
  <label for="email" name="email"></label>
  <input type="email" name="email" />
 </div> 
<div> 
  <label  for="address" name="address"></label>
  <input id="autocomplete" placeholder="enter address" type="text" name="address" />
 </div> 
<div> 
  <label for="walk-through-video" name="walk-through-video"></label>
  <input id="video-upload"type="file" name="walk-through-video" />
 </div> 
 <button type="submit" >Submit</button>
</form>

<!--<video controls src="/images/c7ea59b7ee82192fa689dff447239b31"></video>-->
<script src="/javascript/add-lead.js" ></script>
