<form class="form" id="lead-submit-form" action="/get-cash-offer" method="post" enctype="multipart/form-data">
<div class="label-input-container"> 
  <label for="first-name" name="first_name">First Name</label>
  <input type="text" name="first_name" />
 </div> 
<div class="label-input-container" > 
  <label for="last-name" name="last_name">Last Name</label>
  <input type="text" name="last_name" />
 </div> 
<div class="label-input-container"> 
  <label for="email" name="email"> Email</label>
  <input type="email" name="email" />
 </div> 
<div class="label-input-container"> 
  <label  for="address" name="address"> Address</label>
  <input id="autocomplete" placeholder="enter address" type="text" name="address" />
 </div> 
<div  class="label-input-container"> 
  <label for="walk-through-video" name="walk-through-video">Upload video</label>
  <input id="video-upload"type="file" name="walk-through-video" />
 </div class="submit-btn-container"> 
 <p id="confirmtextp">
  It is recommended for the most accurate cash offer, that you upload a walkthrough video highlighting any and
   all repairs to the best of your knowledge. Failing to do so could result in an unstable cash offer price, 
   decreasing the speed at which we can get cash for your property in your hand as soon as possible.
   </p>
 <button type="submit" class="submit-btn"  >Submit</button>
</form>

<!-- google script for auto complete -->
<script>
    let autocomplete;
    function initAutocomplete() {
        autocomplete = new google.maps.places.Autocomplete(
            document.getElementById('autocomplete'),

        {
            types: ['address'],
            componentRestrictions: {country : ['US']},
            fields: ['vicinity']
        })
    }
</script>
<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRAziCbvwi_tnshs3g2uM6WCvdvdvOTL4&libraries=places&callback=initAutocomplete">
</script>
<!-- google script for auto complete ends -->

<!--<video controls src="/images/c7ea59b7ee82192fa689dff447239b31"></video>-->
<script src="/javascript/add-lead.js" ></script>
{{#if loggedIn}}
<script src="/javascript/user-logout.js"></script>
{{/if}}
