<div>
<section id="user-blog-form-section">
<div class="review-post-h1-p-div" >
    <h1>Do You Have Any Thoughts And feelings Or Insights About Your Local Real Estate Market?</h1>
    <p>We here at 1188 real estate love hearing from "the folks on the ground" So to speak, as we find this type of market feedback to be highly valuable. So please don't be shy share your experience with us!</p>
</div>
{{#if loggedIn}}
<form id="new-post-form" class="new-post-review-form">
 <div class="post-review-label-texarea-container">
   <label for="new-post">Share Your Insights</label>
   <textarea id="new-post"></textarea>
 </div>
  <div>
      <button type="submit" class="new-post-review-button">Create Post</button>
  </div>

</form>
{{/if}}
</section>

{{#if posts.length}}
<section class="user-blog-review-post-section">
 <h2>Posts</h2>
 <ol>
     {{#each posts as |post|}}
     <li>
         {{> post-info post}}
     </li>
     {{/each}}
 </ol>
</section>
{{/if}}
</div>
{{#if loggedIn}}
<script src="/javascript/create-post.js"></script>
<script src="/javascript/user-logout.js"></script>
{{/if}}