<div>
<section id="user-review-form-section">
<div class="review-post-h1-p-div">
    <h1>Have You Done A deal With Us ?</h1>
    <p>We value every client experience and love providing a place for clients to tell the world. So please tell the world you experience with 1188 real estate!</p>
</div>
{{#if loggedIn}}
<form id="new-review-form" class="new-post-review-form">
 <div class="post-review-label-texarea-container">
   <label for="new-review">Share Your Insights</label>
   <textarea type="text" id="new-review"></textarea>
 </div>
  <div>
      <button class="new-post-review-button">Create review</button>
  </div>

</form>
{{/if}}
</section>

{{#if reviews.length}}
<section class="user-blog-review-post-section">
 <h2>Reviews</h2>
 <ol>
     {{#each reviews as |review|}}
     <li>
         {{> review-info review}}
     </li>
     {{/each}}
 </ol>
</section>
{{/if}}
</div>
{{#if loggedIn}}
<script src="/javascript/add-review.js"></script>
<script src="/javascript/user-logout.js"></script>
{{/if}}