<form id="user-login-form">
    <div  class="label-input-container">
        <label for="email-login">Email</label>
        <input type="text" id="email-login"/>
    </div>
    <div  class="label-input-container">
        <label for="password-login">Password</label>
        <input type="password" id="password-login"/>
    </div>
    <div class="btn-container">
        <button class="login-btn" type="submit">Login</button>
    </div>
</form>
<script src="/javascript/user-login.js"></script>