* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(58, 94, 4);
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    background-color: yellowgreen;
}

/*header styles*/
header {
    background-color:rgb(99, 158, 9);
    display: flex;
    flex-direction: row-reverse; 
    justify-content:right;
    align-items: center;
}

header h1 {
   padding: 1.4%;
}


header h1 a {
    color: white;
    text-shadow: 0 0 10px rgb(61, 59, 59,0.5); 
   
}

header nav a {
    color: white;  
}
/*header styles end*/

a {
    text-decoration: none;
}

/*dropdown nav styles*/
#dropdown {
    margin-right: 60%;
}



#dropdown-content {
    display: none;
}

#logout {
    background-color: rgb(134, 5, 5);
    padding: 5px;
    border-radius: 8px;
    font-weight: bolder;
    color: yellowgreen;
}

/*this woll style the button of logout on the ad;min side of app*/
#admin-logout {
    background-color: rgb(134, 5, 5);
    padding: 3px;
    border-radius: 8px;
    font-weight: bolder;
    color: yellowgreen;
    margin: .47em;
}

 #dropdown:hover #dropdown-content {
    display: flex;
    flex-direction: column-reverse;
    background-color: rgb(61, 59, 59);
    border-radius: 8px;
    padding: 18%;
    margin-bottom: 8%;
    box-shadow: 0 0 10px rgb(61, 59, 59,0.8); 
    /*margin-left: 70%;*/
}



#dropdown:hover {
    margin-right: 40%;
}



#dropdown:hover #dropdown-btn {
    margin-bottom: 11%;
}

#dropdown:hover #logout {
    margin-bottom: 8%;
}


#dropdown:hover #nav-list li {
    margin: 2%;
}
#dropdown:hover #nav-list li a {
    color: yellowgreen;
}
#dropdown:hover #nav-list {
   display: flex;
   flex-direction: column;
  /* align-items: center;*/
}

#dropdown-btn {
    padding: 0;
    line-height: inherit;
    width: 30px;
    min-height: 22px;
    border-color: transparent;
    transform: rotate(0);
    transition: .5s ease-in-out;
    position: relative;
    z-index: 25;
    box-shadow: 0 0 8px rgb(61, 59, 59,0.5); 
    border-radius: 5px;
}

#dropdown-btn span:nth-child(1) {
    top: 2px;
}

#dropdown-btn span {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    background-color: yellowgreen;
    transform: rotate(0);
    transition: .25s ease-in-out;
    border-radius: 1px;
    opacity: 1;
}

#nav-list {
    list-style: none;
}
/*dropdown nav styles end*/


/*footer styles begin*/
footer {
    background-color:rgb(99, 158, 9); 
    height: 9vh;
    color: white;
    font-size: .79em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#footer-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding: .25em;
}

#footer-list li {
    margin-right: .5em;
}

#terms-of-use-li {
    padding-left: .5em;
    border-left: 1px solid yellowgreen;
}

#copyright-div {
    padding: .25em;
}

#copyright-div p {
    font-size: 1.18em;
}
/*footer styles end*/


/*the following styles style both user and admin login forms*/

#user-login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35vh;
    margin-top: 11%;
    margin-bottom: 78%;
}


.login-btn {
    padding: 18% ;
    color: white;
    background-color: rgb(99, 158, 9);
    font-size: 1.33em;
    border: 3px solid white;
    border-radius: 2px;
}
/*login form styles end*/

/*admin dashboard styles begin*/
.admin-section {
    display: flex;
    flex-direction: column;
    margin-top: 8%;
    align-items: center;
    
}
.admin-section h1 {
    margin-bottom: 11%;
    border-bottom: 2px solid rgb(99, 158, 9);
    font-size: 3em;
    text-shadow: 0 0 10px rgba(58,94,4,0.5);
}

/*lead section admin starts*/
.lead-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.lead-info span {
    margin: 2px;
    color: white;
    font-size: 1.28em;
    padding: 4%;
}

#lead-info-container {
    border-bottom: 3px solid rgb(99, 158, 9);
}

video {
    margin-bottom: 8%;
}

/*lead section admin ends*/

/*review and post sections admin start*/
.review-post-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
    border-bottom: 2px solid rgb(99, 158, 9);
}

.review-post-container h2 {
    color: white;
    font-size: 2.46em;
    padding-left: 15%;
    text-shadow: 0 0 10px rgba(58,94,4,0.5);
    margin-bottom: 8%;
}

.review-post-container p {
    color: white;
    font-size: 1.55em;
    padding: 3%;
}



.review-post-container p {
    margin-bottom: 8%;
}
/*review and post sections admin end*/
.link-div {
    margin-top:2%;
    margin-bottom: 5%;
}

.link-div a {
    color: rgb(58, 94, 4);
    font-size: 1.28em;
}

/*admin dashboard styles end*/

/*edit lead page styles start*/
.edit-lead-section {
    margin-bottom: 20%;
}
/*edit lead page styles end*/

/*common form styles classes start*/
.form {
display: flex;
flex-direction: column;
align-items: center;
}

.label-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8%;
    width: 75%;
}

.label-input-container input {
    width: 100%;
    padding: 3%;
    border: 2px solid rgb(99, 158, 9);
    border-radius: 3px;
}

.label-input-container label {
    color: white;
    font-size: 2em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.submit-btn {
    padding: 9px;
    border-radius: 7px;
    background-color: rgb(8, 226, 8);
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

.submit-btn:hover {
    background-color: lime;
}

.delete-btn-container {
    margin-top: 28%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.delete-btn-container button {
    padding: 11px;
    border-radius: 7px;
    background-color: rgb(179, 5, 5);
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

.delete-btn-container button:hover {
    background-color: red;
}

/*common form styles classes end*/

/*styles for lead capture form start*/
#lead-submit-form p{
padding: 11%;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#lead-submit-form button {
    margin-bottom: 18%;
}

#video-upload {
    margin-top: 15%;
}
/*styles for lead capture form end*/

/*styles for the edit review and posts page start*/
.edit-post-lead-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-post-review-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.edit-review-post-h1-container {
    margin-top: 11%;
    margin-bottom: 11%;
}

.edit-review-post-h1-container h1 {
    font-size: 2em;
    text-shadow: 0 0 10px rgba(58,94,4,0.5);
}

.edit-review-post-label-textarea-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.edit-review-post-label-textarea-container label {
    font-size: 1.77em;
    margin-bottom: 11%;
    text-shadow: 0 0 10px rgba(58,94,4,0.5);
}


.edit-review-post-label-textarea-container textarea {
    width: 80%;
    height: 10em;
    border: 2px solid rgb(58, 94, 4);
    border-radius: 8px;
    font-size: 1.33em;
    margin-bottom: 11%;
    font-weight: bold;
    padding: 3%;
}


.dlte-btn-review-post-container {
    margin-bottom: 65%;
   
}
/*styles for the edit review and posts page end*/

/*User blog form and review form styles start*/
.new-post-review-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-review-label-texarea-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
}

.post-review-label-texarea-container textarea {
    width: 80%;
    height: 10em;
    border: 2px solid rgb(58, 94, 4);
    border-radius: 8px;
    font-size: 1.33em;
    margin-bottom: 11%;
    font-weight: bold;
    padding: 3%;
}

.post-review-label-texarea-container label {
    font-size: 1.77em;
    margin-bottom: 11%;
    text-shadow: 0 0 10px rgba(58,94,4,0.5);
}

.new-post-review-button {
    padding: 5px;
    border-radius: 8px;
    background-color: rgb(8, 226, 8);
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

.user-blog-review-post-section h2{
font-size: 2.52em;
margin-bottom: 18%;
text-shadow: 0 0 10px rgba(58,94,4,0.5);
border-bottom: 2px solid rgb(99, 158, 9);
}

.user-blog-review-post-section {
    display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 18%;
 padding: 8%;
}

.review-post-h1-p-div {
    padding: 8%;
}

.review-post-h1-p-div h1 {
    border: 2px solid rgb(99, 158, 9);
    box-shadow: 0 0 10px rgba(58,94,4,0.5);
    border-radius: 4px;
    padding: 4%;
}
.review-post-h1-p-div p {
    border: 2px solid rgb(99, 158, 9);
    box-shadow: 0 0 10px rgba(58,94,4,0.5);
    border-radius: 4px;
    padding: 4%;
    margin-top: 8%;
    font-weight: bolder;
}
/*User blog form and review form styles end*/
/*home page styles start*/
/*hero-section styles start*/
#hero-section {
    background-image:url("../images/blue-background.png") ;
    background-position: 50% 95%;
    background-repeat: no-repeat;
    background-size: 88% 65%;
    min-height: 525px;
    padding:4%;
    border: 3px solid rgb(99, 158, 9);
    box-shadow: 0 0 10px #01bbaa;
    border-radius: 8px;
    margin: 8%;
    z-index: 999;
    background-color: #01bbaa;
    

}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container h1 {
    line-height: 1.3;
    text-align: center;
    text-shadow: 0 0 10px rgba(58,94,4,0.5);
}

.cta h2 {
    line-height: 1.9;
    font-size: 1.03em;
    text-shadow: 0 0 10px rgba(58,94,4,0.3);
}

.button-link {
    background-color: #f96b29;
    padding: 1%;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(58,94,4,0.7);
    font-weight: 400;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 25%;
}

.button-link:hover {
    background-color: yellowgreen;
    box-shadow: 0 0 10px #f96b29;
    color: #f96b29;
    font-weight: 700;
}

.button-link-container {
    margin-top: 4%;
    margin-bottom: 5%;
}

.hero-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.hero-list li {
font-size: .88em;
margin: 1%;
font-weight: 400;
text-shadow: 0 0 10px rgba(58,94,4,0.6);
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*hero-section styles end*/

/*main content styles begin*/
.main-content {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    text-align: center;
}
.looking-to-sell-fast::after{
    box-sizing: border-box;
}

.looking-to-sell-fast::before{
    box-sizing: border-box;
}

.looking-to-sell-fast{
    margin-bottom: 3rem;
}

.primary-title {
    font-size: 1.563rem;
    color: white;
    text-align: center;
    margin-bottom: 1.25rem;
    font-weight: 400;
    line-height: 1.3;
    text-shadow: 0 0 10px  #aef718;

}

.primary-subtitle {
    font-size: 1.125rem;
    margin-bottom: 3rem;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.card-container {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.card {
    position: relative;
    padding: 2.5rem 1.563rem;
    margin-bottom: 3rem;
    background-color: #01bbaa;
    border: 3px solid rgb(99, 158, 9);
    box-shadow: 0 0 10px #01bbaa;
    border-radius: 8px;
}

.card-number {
    font-size: 2.25rem;
    position: absolute;
    top: 0;
    left: 50%;
    margin: calc(0% - 32px);
    display: block;
    width: 64px;
    height: 64px;
    text-align: center;
    padding: 0.5rem 0; 
    font-weight: 300;
    background-color: yellowgreen ;
    border: 3px solid rgb(99, 158, 9);
    box-shadow: 0 0 10px #01bbaa;
    border-radius: 50%;
    color: white;
}

.card-title {
    line-height: 1.3;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
    font-weight: 400;
}

.card-title span {
    display: block;
}

.card p {
    color: white;
    line-height: 1.4;
}

.army-of-buyers {
    margin-bottom: 2rem;
    text-align: center;
}
/*these styles are related to content at the bottom of the main section*/
.wrapper-image {
    background-image: url('../images/Screenshot\ \(147\).png');
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 50%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.row2 {
    display: flex;
    margin-right: 0;
    margin-left: 0;
    justify-content: space-between;
}

.row3 {
    display: flex;
    flex-direction: column;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
    
}

.col-auto{
flex: 0 0 auto;
width: auto;
max-width: 100%;
}

.col-lg-4 {
 position: relative;
}

.direction-title {
    font-size: .875em;
}

.justify-content-end {
    justify-content: flex-end;
}

.d-block {
    display: block;
}

.svg-image{
    width: 89px;
    height: auto;
    border: 1px solid rgb(99, 158, 9);
    box-shadow: 0 0 10px #01bbaa;
    border-radius: 8px;
}

.target {
    padding-left: 18%;
}

.usa{
    padding-right: 18%;
}

.row3-span-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 33vh;
}

#row3-span {
    margin-top: 13%;
}

.army-of-buyers {
    background-color:  #4f87ed;
    border: 3px solid rgb(99, 158, 9);
    box-shadow: 0 0 10px  #1597c9 ;
    border-radius: 8px;
}

.image-text-span {
    line-height: 1.5;
    color: white;
    padding: 13%;
    font-size: 1.05rem;
    text-shadow: 0 0 10px  #aef718;
}

.image-text-span2 {
    color: #aef718;
    font-size: 1.1rem;
}
/*these styles are related to content at the bottom of the main section *Ending* */
/*main content styles end*/

/*selling property made simple section start*/
.selling-property-made-simple {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.secondary-background {
    background-color:#4f87ed  ;
    border: 3px solid rgb(99, 158, 9);
    box-shadow: 0 0 10px  #1597c9 ;
    border-radius: 8px;
}

.sec-margin {
    margin: 2% 2% 2% 2% ;
}
/*selling property made simple section end*/


/*home page styles end*/
