* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(58, 94, 4);
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    background-color: /*yellowgreen*/ black;
}

/*header styles*/
header {
    background-color:rgb(99, 158, 9);
    display: flex;
    flex-direction: row-reverse; 
    justify-content:right;
    align-items: center;
}

header h1 {
   padding: 1.4%;
}


header h1 a {
    color: white;
    text-shadow: 0 0 10px rgb(61, 59, 59,0.5); 
   
}

header nav a {
    color: white;  
}
/*header styles end*/

a {
    text-decoration: none;
}

/*dropdown nav styles*/
#dropdown {
    margin-right: 60%;
}



#dropdown-content {
    display: none;
}

#logout {
    background-color: rgb(134, 5, 5);
    padding: 5px;
    border-radius: 8px;
    font-weight: bolder;
    color: yellowgreen;
}

/*this woll style the button of logout on the ad;min side of app*/
#admin-logout {
    background-color: rgb(134, 5, 5);
    padding: 3px;
    border-radius: 8px;
    font-weight: bolder;
    color: yellowgreen;
    margin: .47em;
}

 #dropdown:hover #dropdown-content {
    display: flex;
    flex-direction: column-reverse;
    background-color: rgb(61, 59, 59);
    border-radius: 8px;
    padding: 18%;
    margin-bottom: 8%;
    box-shadow: 0 0 10px rgb(61, 59, 59,0.8); 
    /*margin-left: 70%;*/
}



#dropdown:hover {
    margin-right: 40%;
}



#dropdown:hover #dropdown-btn {
    margin-bottom: 11%;
}

#dropdown:hover #logout {
    margin-bottom: 8%;
}


#dropdown:hover #nav-list li {
    margin: 2%;
}
#dropdown:hover #nav-list li a {
    color: yellowgreen;
}
#dropdown:hover #nav-list {
   display: flex;
   flex-direction: column;
  /* align-items: center;*/
}

#dropdown-btn {
    padding: 0;
    line-height: inherit;
    width: 30px;
    min-height: 22px;
    border-color: transparent;
    transform: rotate(0);
    transition: .5s ease-in-out;
    position: relative;
    z-index: 25;
    box-shadow: 0 0 8px rgb(61, 59, 59,0.5); 
    border-radius: 5px;
}

#dropdown-btn span:nth-child(1) {
    top: 2px;
}

#dropdown-btn span {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    background-color: yellowgreen;
    transform: rotate(0);
    transition: .25s ease-in-out;
    border-radius: 1px;
    opacity: 1;
}

#nav-list {
    list-style: none;
}
/*dropdown nav styles end*/


/*footer styles begin*/
footer {
    background-color:rgb(99, 158, 9); 
    height: 9vh;
    color: white;
    font-size: .79em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#footer-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding: .25em;
}

#footer-list li {
    margin-right: .5em;
}

#terms-of-use-li {
    padding-left: .5em;
    border-left: 1px solid yellowgreen;
}

#copyright-div {
    padding: .25em;
}

#copyright-div p {
    font-size: 1.18em;
}
/*footer styles end*/


/*the following styles style both user and admin login forms*/

#user-login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35vh;
    margin-top: 11%;
    margin-bottom: 78%;
}


.login-btn {
    padding: 18% ;
    color: white;
    background-color: rgb(99, 158, 9);
    font-size: 1.33em;
    border: 3px solid white;
    border-radius: 2px;
}
/*login form styles end*/

/*admin dashboard styles begin*/
.admin-section {
    display: flex;
    flex-direction: column;
    margin-top: 8%;
    align-items: center;
    
}
.admin-section h1 {
    margin-bottom: 11%;
    border-bottom: 2px solid rgb(99, 158, 9);
    font-size: 3em;
    text-shadow: 0 0 10px rgba(58,94,4,0.5);
}

/*lead section admin starts*/
.lead-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.lead-info span {
    margin: 2px;
    color: white;
    font-size: 1.28em;
    padding: 4%;
}

#lead-info-container {
    border-bottom: 3px solid rgb(99, 158, 9);
}

video {
    margin-bottom: 8%;
}

/*lead section admin ends*/

/*review and post sections admin start*/
.review-post-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
    border-bottom: 2px solid rgb(99, 158, 9);
}

.review-post-container h2 {
    color: white;
    font-size: 2.46em;
    padding-left: 15%;
    text-shadow: 0 0 10px rgba(58,94,4,0.5);
    margin-bottom: 8%;
}

.review-post-container p {
    color: white;
    font-size: 1.55em;
    padding: 3%;
}



.review-post-container p {
    margin-bottom: 8%;
}
/*review and post sections admin end*/
.link-div {
    margin-top:2%;
    margin-bottom: 5%;
}

.link-div a {
    color: rgb(58, 94, 4);
    font-size: 1.28em;
}

/*admin dashboard styles end*/

/*edit lead page styles start*/
.edit-lead-section {
    margin-bottom: 20%;
}
/*edit lead page styles end*/

/*common form styles classes start*/
.form {
display: flex;
flex-direction: column;
align-items: center;
}

.label-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8%;
    width: 75%;
}

.label-input-container input {
    width: 100%;
    padding: 3%;
    border: 2px solid rgb(99, 158, 9);
    border-radius: 3px;
}

.label-input-container label {
    color: white;
    font-size: 2em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.submit-btn {
    padding: 9px;
    border-radius: 7px;
    background-color: rgb(8, 226, 8);
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

.submit-btn:hover {
    background-color: lime;
}

.delete-btn-container {
    margin-top: 28%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.delete-btn-container button {
    padding: 11px;
    border-radius: 7px;
    background-color: rgb(179, 5, 5);
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

.delete-btn-container button:hover {
    background-color: red;
}

/*common form styles classes end*/

/*styles for lead capture form start*/
#lead-submit-form p{
padding: 11%;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#lead-submit-form button {
    margin-bottom: 18%;
}

#video-upload {
    margin-top: 15%;
}
/*styles for lead capture form end*/

/*styles for the edit review and posts page start*/
.edit-post-lead-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-post-review-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.edit-review-post-h1-container {
    margin-top: 11%;
    margin-bottom: 11%;
}

.edit-review-post-h1-container h1 {
    font-size: 2em;
    text-shadow: 0 0 10px rgba(58,94,4,0.5);
}

.edit-review-post-label-textarea-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.edit-review-post-label-textarea-container label {
    font-size: 1.77em;
    margin-bottom: 11%;
    text-shadow: 0 0 10px rgba(58,94,4,0.5);
}


.edit-review-post-label-textarea-container textarea {
    width: 80%;
    height: 10em;
    border: 2px solid rgb(58, 94, 4);
    border-radius: 8px;
    font-size: 1.33em;
    margin-bottom: 11%;
    font-weight: bold;
    padding: 3%;
}


.dlte-btn-review-post-container {
    margin-bottom: 65%;
   
}
/*styles for the edit review and posts page end*/

/*User blog form and review form styles start*/
.new-post-review-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-review-label-texarea-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
}

.post-review-label-texarea-container textarea {
    width: 80%;
    height: 10em;
    border: 2px solid rgb(58, 94, 4);
    border-radius: 8px;
    font-size: 1.33em;
    margin-bottom: 11%;
    font-weight: bold;
    padding: 3%;
}

.post-review-label-texarea-container label {
    font-size: 1.77em;
    margin-bottom: 11%;
    text-shadow: 0 0 10px rgba(58,94,4,0.5);
}

.new-post-review-button {
    padding: 5px;
    border-radius: 8px;
    background-color: rgb(8, 226, 8);
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

.user-blog-review-post-section h2{
font-size: 2.52em;
margin-bottom: 18%;
text-shadow: 0 0 10px rgba(58,94,4,0.5);
border-bottom: 2px solid rgb(99, 158, 9);
}

.user-blog-review-post-section {
    display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 18%;
 padding: 8%;
}

.review-post-h1-p-div {
    padding: 8%;
}

.review-post-h1-p-div h1 {
    border: 2px solid rgb(99, 158, 9);
    box-shadow: 0 0 10px rgba(58,94,4,0.5);
    border-radius: 4px;
    padding: 4%;
}
.review-post-h1-p-div p {
    border: 2px solid rgb(99, 158, 9);
    box-shadow: 0 0 10px rgba(58,94,4,0.5);
    border-radius: 4px;
    padding: 4%;
    margin-top: 8%;
    font-weight: bolder;
}
/*User blog form and review form styles end*/
/*home page styles start*/
/*hero-section styles start*/
#hero-section {
    background-image:url("../img/blue-background.png") ;
    background-position: 50% 95%;
    background-repeat: no-repeat;
    background-size: 88% 65%;
    min-height: 525px;
    padding:4%;
    border: 3px solid rgb(99, 158, 9);
    box-shadow: 0 0 10px #01bbaa;
    border-radius: 8px;
    margin: 8%;
    z-index: 999;
    background-color: #01bbaa;
    

}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container h1 {
    line-height: 1.3;
    text-align: center;
    text-shadow: 0 0 10px #aef718;
    color: white;
}

.cta h2 {
    line-height: 1.9;
    font-size: 1.03em;
    text-shadow: 0 0 2px #aef718;
    color: white;
}

.button-link {
    background-color: #f96b29;
    padding: 1%;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(58,94,4,0.7);
    font-weight: 400;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.button-link:hover {
    background-color: yellowgreen;
    box-shadow: 0 0 10px #f96b29;
    color: #f96b29;
    font-weight: 700;
}

.button-link-container {
    margin-top: 4%;
    margin-bottom: 5%;
}

.hero-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.hero-list li {
font-size: .88em;
margin: 1%;
font-weight: 400;
text-shadow: 0 0 10px #aef718;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*hero-section styles end*/

/*main content styles begin*/
.main-content {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    text-align: center;
}
.looking-to-sell-fast::after{
    box-sizing: border-box;
}

.looking-to-sell-fast::before{
    box-sizing: border-box;
}

.looking-to-sell-fast{
    margin-bottom: 3rem;
}

.primary-title {
    font-size: 1.563rem;
    color: white;
    text-align: center;
    margin-bottom: 1.25rem;
    font-weight: 400;
    line-height: 1.3;
    text-shadow: 0 0 10px  #aef718;

}

.primary-subtitle {
    font-size: 1.125rem;
    margin-bottom: 3rem;
    text-align: center;
    color: white;
    text-shadow: 0 0 10px  #aef718;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.card-container {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.card {
    position: relative;
    padding: 2.5rem 1.563rem;
    margin-bottom: 3rem;
    background-color: #01bbaa;
    border: 3px solid rgb(99, 158, 9);
    box-shadow: 0 0 10px #01bbaa;
    border-radius: 8px;
}

.card-number {
    font-size: 2.25rem;
    position: absolute;
    top: 0;
    left: 50%;
    margin: calc(0% - 32px);
    display: block;
    width: 64px;
    height: 64px;
    text-align: center;
    padding: 0.5rem 0; 
    font-weight: 300;
    background-color: yellowgreen ;
    border: 3px solid rgb(99, 158, 9);
    box-shadow: 0 0 10px #01bbaa;
    border-radius: 50%;
    color: white;
}

.card-title {
    line-height: 1.3;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
    font-weight: 400;
    text-shadow: 0 0 5px rgb(99, 158, 9)
}

.card-title span {
    display: block;
}

.card p {
    color: white;
    line-height: 1.4;
}

.army-of-buyers {
    margin-bottom: 2rem;
    text-align: center;
}
/*these styles are related to content at the bottom of the main section*/
.wrapper-image {
    background-image: url('../img/arrows.png');
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 50%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.row2 {
    display: flex;
    margin-right: 0;
    margin-left: 0;
    justify-content: space-between;
}

.row3 {
    display: flex;
    flex-direction: column;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
    
}

.col-auto{
flex: 0 0 auto;
width: auto;
max-width: 100%;
}

.col-lg-4 {
 position: relative;
}

.direction-title {
    font-size: .875em;
}

.justify-content-end {
    justify-content: flex-end;
}

.d-block {
    display: block;
}

.svg-image{
    width: 89px;
    height: auto;
    border: 1px solid rgb(99, 158, 9);
    box-shadow: 0 0 10px #01bbaa;
    border-radius: 8px;
}

.target {
    padding-left: 18%;
}

.usa{
    padding-right: 18%;
}

.row3-span-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 33vh;
}

#row3-span {
    margin-top: 13%;
}

.army-of-buyers {
    background-color:  #4f87ed;
    border: 3px solid rgb(99, 158, 9);
    box-shadow: 0 0 10px  #1597c9 ;
    border-radius: 8px;
}

.image-text-span {
    line-height: 1.5;
    color: white;
    padding: 13%;
    font-size: 1.05rem;
    text-shadow: 0 0 10px  #aef718;
}

.image-text-span2 {
    color: #aef718;
    font-size: 1.1rem;
}
/*these styles are related to content at the bottom of the main section *Ending* */
/*main content styles end*/

/*selling property made simple section start*/
.selling-property-made-simple {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.secondary-background {
    background-color:#4f87ed  ;
    border: 3px solid rgb(99, 158, 9);
    box-shadow: 0 0 10px  #1597c9 ;
    border-radius: 8px;
}

.sec-margin {
    margin: 2% 2% 2% 2% ;
}

.png-img {
    max-width: 50%;
    height: auto;
    vertical-align: middle;
    border: none;
    border: 2px solid rgb(99, 158, 9);
    box-shadow: 0 0 10px  #062ac9 ;
    border-radius: 8px;
}

.image-p {
    text-align: center;
    margin-top: 8%;
}

.made-simple-title {
    font-size: 1.46rem;
    text-align: center;
    margin-top: 6%;
    margin-bottom: 4%;
    color: white;
    text-shadow: 0 0 5px #aef718;
}

#made-simp-p {
   text-align: center;
   line-height: 1.8;
   font-size: 1.15rem;
   text-shadow: 0 0 2px #aef718;
   color: white;
}

.button-link-container p {
    text-align: center;
}

#btn-link-2 {
    margin-top: 16%;
}

#btn-link-2 p a {
    padding: 5%;
    font-size: 1.3em;
}

.last-sec-row {
    margin-top: 11%;
}

.card-list {
    line-height: 1.8;
}

.card-list li {
    color: white;
    text-shadow: 0 0 5px rgb(99, 158, 9)
}
/*selling property made simple section end*/
/*home page styles end*/

/*media queries for public user side begin=========================*/
/*min-width 768px querias start*/
@media screen and (min-width: 768px) {
    /*hero section styles start*/
   .container h1 {
       font-size: 1.8em;
   } 
   .cta h2 {
       font-size: 1.3em ;
   }

   .hero-list {
       margin-top: 43%;
   }

   .hero-list li {
       font-size: 1.2em;
   }

   .button-link-container {
       margin-bottom: 47%;
   }

   .button-link {
       padding: 2%;
   }
    /*hero section styles end*/

.primary-title {
    font-size: 2.5rem;
}

.primary-subtitle {
    font-size: 1.5rem ;
}
/*card styles start*/
.card-title {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

.card p {
    font-size: 1.7rem;
}
/*card styles end*/
/*main content section starts*/
.wrapper-image {
    height: 10vh;
}

.row3-span-container {
    height: 25vh;
}

#row3-span {
    margin-top: 3%;
}

.image-text-span {
    padding: 3%;
}

.svg-image {
    width: 150px;
    box-shadow: 0 0 100px #062ac9;
}

.target {
    padding-left: 58%;
}

.usa {
    padding-right: 68%;
}

.image-text-span {
    font-size: 1.8rem;
}

.image-text-span2 {
    font-size: 1.9rem;
}
/*main content section ends*/

/*selling property made simple section begins*/
#made-simp-p {
    font-size: 1.5rem;
}

.made-simple-title {
    font-size: 2rem;
}

.png-img {
    width: 40%;
    box-shadow: 0 0 100px #062ac9;
}

#btn-link-2 {
    margin-bottom: 8%;
}

/*selling property made simple section ends*/

/*sec-margin section begins*/

.card-list {
    list-style: none;
    text-align: center;
    line-height: 3;
}

.card-list li {
    font-size: 1.5rem;
}

.card-title {
    font-size: 2.8rem;
    text-align: center;
}
/*sec-margin section ends*/

/*dropdown button styles in nav start*/
#dropdown:hover {
     margin-right: 15%;
     margin-top: 2%;
    
 }

 #dropdown-btn{
     width: 50px;
     min-height: 42px;
 }

 #dropdown-btn span  {
     position: unset;
     margin: 10%;
 }

 #dropdown:hover #nav-list {
    flex-direction: row;
 
 }

 #dropdown:hover #dropdown-content {
     padding: 8%;

 }

 #dropdown:hover #nav-list li a {
     font-size: 1.5rem;
 }

 #dropdown:hover #nav-list li {
     margin-right: 1.5%;
     margin-left: 1.5%;
 }

 header h1 {
     font-size: 3rem;
 }
 
/*dropdown button styles in nav end*/

/*footer styles start*/
#footer-list li {
    font-size: 1.25rem;
}

#footer-list-div {
    margin-left: 1%;
}

#copyright-div {
    font-size: 2rem;
    margin-right: 1%;
}


/*footer styles end*/
}
/*min-width 768px queries end*/

 /*min-width 1024px media queries start*/
 @media screen and (min-width: 1024px) {

    .row3-span-container {
      height: 45vh;
    }

    .button-link-container {
        margin-bottom: 57%;
    }

    #dropdown {
        margin-right: 75%;
    }

    #dropdown:hover {
        margin-right: 35%;
    }

    .primary-title {
        font-size: 2.8rem;
    }

    .made-simple-title {
        font-size: 2.3rem;
    }

 .svg-image  {
     width: 180px;
 }

 .image-text-span {
     font-size: 2.7rem;
 }

 .image-text-span2 {
     font-size: 2.6rem;
 }

 .row3-span-container {
    height: 55vh;
 }

 .container h1 {
     font-size: 2.3em ;
 }

 .button-link {
     font-weight: 800;
 }

 .card-title2 {
     font-size: 3.8rem;
 }


 }


 /*min-width 1024px media queries end*/

 /*min-width 1366px start*/

@media screen and (min-width: 1366px) {
    #hero-section {
        background-image:url("../img/real-house.png") ;
        background-position: 50% 95%;
    }

    .row {
        flex-wrap: nowrap;
    }

    .card-container {
        max-width: 50%;
    }

    .card2 {
        height: 50vh;
    }

    .card3 {
       height: 90vh; 
    }

    .card-list {
        line-height: 1.9;
    }

    .card-list2 {
        line-height: 2.75;
    }

    .primary-title {
        font-size: 3.3rem;
    }

    .container h1 {
        font-size: 3.3em;
    }

.cta h2 {
    font-size: 2em;
}

.button-link-container {
    margin-bottom: 87%;
}

.hero-list li {
    font-size: 1.8em;
}

.button-link {
    padding: 3%;
    font-size: 1.4em;
}

    /*selling property made simple section s starts*/
    .card-container2 {
        max-width: 100%;
    }

    .sell-made-simp-div {
        width: 50%;
        padding: 4%;
    }

    #btn-link-2 p a {
        padding: 3%;
    }

    .svg-image {
        width: 280px;
    }

    .row3-span-container {
        height: 65vh;
    }
    /*selling property made simple section s ends*/

    /*header nav dropdown starts*/
    #dropdown {
        margin-right: 80%;
    }

    #dropdown:hover {
        margin-right: 52%;
    }

    #dropdown:hover #nav-list li {
        margin: 1.5%;
    }
      /*header nav dropdown ends*/

      /*footer styles starts*/
#footer-list li {
    font-size: 1.85rem;
}


      /*footer styles ends*/
}

 /*min-width 1366px end*/

 /*min-width 1920px starts*/

 @media screen and (min-width: 1920px) {
#dropdown {
    margin-right: 83%;
}

#dropdown:hover {
    margin-right: 65%;
    
   
}

#dropdown-btn {
    width: 60px;
    min-height: 52px;
}

header h1 {
    font-size: 3.6rem;
}

     #hero-section {
        background-position: 50% 85%;
     }

     .primary-title {
         font-size: 3.9rem;
     }

     .primary-subtitle {
         font-size: 2.3rem;
     }

     .card2 {
         height: 30vh;
     }

     .card3 {
         height: 60vh;
     }

     .button-link-container {
         margin-bottom: 55%;
     }

     .button-link {
         font-size: 1.8em;
     }

     .cta h2 {
         margin-bottom: 5%;
     }

     .svg-image {
         width: 380px;
     }

     .made-simple-title {
         font-size: 3.8rem;
     }

     #made-simp-p {
         font-size: 2.8rem;
     }

     .png-img {
         height: 250px;
         width: 100%;
     }
     #btn-link-2 {
         margin-top: 8%;
     }

     .card-list {
         line-height: 2.5;
     }

     .card-list li {
       font-size: 1.8rem;
     }

     .secondary-background p {
         margin-top: 3%;
     }

     .last-sec-row {
        margin-top: 4.5%;
    } 

    .card3 {
        height: 63vh;
    }

    #footer-list li {
        font-size: 2.4rem;
    }

    #copyright-div p {
        font-size: 1.48em;
    }
 }

 /*min-width 1920px ends*/

 /*min-width 2560px starts*/

 @media screen and (min-width: 2560px) {
    #dropdown {
        margin-right: 86%;
    }
    
    #dropdown:hover {
        margin-right: 70%;
        
       
    } 
 }





/*media queries for public user side end===================*/