@tailwind base;
@tailwind components;
@tailwind utilities;

.logo{
  width: 39%;
margin: 2% 2% 3% 2%;
}
.logo-drawer{
  width: 82%;
  margin: 2% 2% 3% 11%;
}

.hero-heading{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -120%); 
  color: white;
  
  font-size: 1.5rem;
}


/*clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);*/
@layer utilities {
  .clip-your-needful-style {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}
@media screen and (min-width:768px){
}
}

.logo{
@media screen and (min-width: 360px) {
  width: 39%;
}
}
.logo{
  @media screen and (min-width: 600px) {
    width: 30%;
  }
}
.logo{
@media screen and (min-width: 1024px) {
  margin-bottom: 3%;
}
}
 
.logo{
@media screen and (min-width: 1366px) {
  width: 35%;
}
}
.logo{
@media screen and (min-width: 1536px) {
  width: 45%;
}
}
